<ion-view title="More">
    <ion-content>
        <ion-list>
            <ion-item  ng-click="term_n_cond()">
                <div>
                    <img class="align-img" src="https://s3-ap-southeast-1.amazonaws.com/zolo/zolo-app-resources/terms.png" width="20" alt=""> &nbsp;Terms & Conditions
                    <i class="icon ion-ios-arrow-forward pull-right"></i>
                </div>
            </ion-item>
            <ion-item ng-click="privacy_policy()">
                <div>
                    <img class="align-img" src="https://s3-ap-southeast-1.amazonaws.com/zolo/zolo-app-resources/privacy.png" width="20" alt=""> &nbsp;  Privacy Policy
                    <i class="icon ion-ios-arrow-forward pull-right"></i>
                </div>
            </ion-item>
            <ion-item ng-click="cancellationPolicy()">
                <div>
                    <img class="align-img" src="https://s3-ap-southeast-1.amazonaws.com/zolo/zolo-app-resources/terms.png" width="20" alt="">&nbsp; Cancellation Policy
                    <i class="icon ion-ios-arrow-forward pull-right"></i>
                </div>
            </ion-item>

            <ion-item ng-click="refund_policy()">
                <div>
                    <img class="align-img" src="https://s3-ap-southeast-1.amazonaws.com/zolo/zolo-app-resources/terms.png" width="20" alt="">&nbsp; Refund Policy
                    <i class="icon ion-ios-arrow-forward pull-right"></i>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>