<style>

    .title-left{
        text-align: center!important;
    }
</style>
<ion-view title="Cancellation Policy">
    <ion-nav-bar class="header_color">
        <button class="button back-button buttons button-clear header-item back-button-custom"  ng-click="back_to_more()"  tabindex="0" style="margin-left: -15px; color: #fff!important;">
            <i class="icon ion-ios-arrow-back" role="button" tabindex="0"></i>
            <span class="back-text"></span></button>
    </ion-nav-bar>
    <ion-content class="bg-c">

                <div class="card m-5" style="padding-left: 15px; padding-right: 5px; padding-top: 5px;">
                    <div class="row">
                        <div class="col-md-12">
                    <h3 class="text-center zolo-c"><strong>Order cancellation policy</strong></h3>
                    <hr>
                    <p><span style="font-weight: 400;">On Zolo, we wish to see every order succeed. Services offered on Zolo will vary based on each seller. We encourage users to utilize our rating system, our community, and common sense in choosing appropriate services. We also encourage our buyers and sellers to try and settle conflicts amongst themselves. If for any reason this fails, users can contact Zolo&rsquo;s Customer Support for further assistance.</span></p>
                    <p><em><span style="font-weight: 400;">Note: If an order is cancelled, sellers do not receive funds from the order. &nbsp;</span></em></p>
                    <p><strong>What's covered in this article?</strong></p>
                    <ul>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Basic Policies from our Terms of Service</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">FAQs</span></li>
                    </ul>
                    <p><strong><strong>&nbsp;</strong></strong></p>
                    <p><strong>When can I cancel an order?</strong></p>
                    <p><span style="font-weight: 400;">Cancellations performed by Customer Support can be done, when eligible, within a time period of 13 days after an order is marked as </span><strong>Complete</strong><span style="font-weight: 400;">. 13 days is the period of time revenue is placed on hold prior to clearing to the seller on the 14th day. Once available, funds from the order may be withdrawn by the seller. </span></p>
                    <p><span style="font-weight: 400;">Contacting Customer Support weeks to months after an order is marked as </span><strong>Complete</strong><span style="font-weight: 400;"> will not result in an order cancellation, especially if those funds have been successfully withdrawn by the seller. Buyers are expected to raise their concerns in a timely matter or report any suspicious behaviors shown by sellers (such as marking the order as delivered without receiving the final service).</span></p>
                    <p><span style="font-weight: 400;">Sellers contacting Customer Support to cancel an order must have funds available to them to consider the cancellation of an order. If there are any issues with your buyer or seller after the designated time period mentioned above, Zolo will review both parties for any violations to our Terms of Service to consider canceling the order. </span></p>
                    <p><span style="font-weight: 400;">Sellers can offer a </span><strong>Mutual Cancellation</strong><span style="font-weight: 400;"> after an order is marked as complete up to 13 days after that time period (during the revenue funds clearance time). After those funds have cleared successfully, the Seller is entitled to withdraw those funds and will not be able to cancel the order mutually after the funds are made available to them. This is to give the Buyer and Seller enough time to insure the Buyer's satisfaction for the order.</span></p>
                    <p><strong>What if I have an issue with my seller or delivered service?</strong></p>
                    <p><span style="font-weight: 400;">Buyers may contact Customer Support at any time to review your order for advice on how to proceed with their orders. Our Customer Support team will take many factors into consideration, such as the seller's ratings, responsiveness, and past order history to assess the most appropriate action to take. In most cases, buyers are directed to communicate further with their sellers if there's no justifiable reason to cancel the order.</span></p>
                    <p><span style="font-weight: 400;">Order cancellations, similar to </span><strong>Requesting Revisions</strong><span style="font-weight: 400;"> for your delivered order, will not be done based on personal taste. Buyers are given the option to rate their experience with the seller and share their experience in a feedback review.</span></p>
                    <p><span style="font-weight: 400;">Avoid filing a dispute with your payment provider for your orders, as this is not in compliance with our Terms of Service, which may also result in restricting your account until those payment holds are cleared.</span></p>
                    <p><strong>What are valid reasons to cancel my order?</strong></p>
                    <p><span style="font-weight: 400;">In most cases, Customer Support will advise buyers to further communicate with their sellers with specific comments and pointers on how the seller can help the buyer resolve their issues. However, there are clear indications where canceling the order is required. Indications that an order may be cancelled by Customer Support may include the following (but not limited to): </span></p>
                    <p><strong>Active Orders</strong><span style="font-weight: 400;"> (after the buyer submits their requirements and before the seller delivers on Zolo)</span></p>
                    <ul>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">A seller is late </span><em><span style="font-weight: 400;">and</span></em><span style="font-weight: 400;"> unresponsive.</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">A buyer or seller is abusive towards the other party through threats of low ratings or leveraging order materials (such as logins, personal information) against each other. </span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">A buyer or seller uses copyright/trademark infringing materials.</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">A buyer or seller is no longer an active Zolo user due to Terms of Service violations.</span></li>
                    </ul>
                    <p><strong><strong>&nbsp;</strong></strong></p>
                    <p><strong>Delivered Orders</strong><span style="font-weight: 400;"> (after the seller clicks </span><strong>Deliver Now</strong><span style="font-weight: 400;"> and before the order is marked as complete)</span></p>
                    <ul>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">A seller delivers none of the requested files (that meet the buyer's requirements) or proof of a completed service.</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">A seller delivers nothing at all (just a message with no attachment).</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">A seller is withholding the final delivery of services for improved ratings.</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">A buyer who abuses the </span><strong>Request Revisions</strong><span style="font-weight: 400;"> button for personal taste.</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">A buyer who threatens to leave a low review to gain more services.</span></li>
                    </ul>
                    <p><strong><strong>&nbsp;</strong></strong></p>
                    <p><strong>Completed Orders</strong><span style="font-weight: 400;"> (after the order is marked as complete and before the 13 day limitation)</span></p>
                    <ul>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">A buyer or seller used copyright/trademark infringing materials after verification.</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">A buyer who did not purchase commercial use rights (must be clearly labeled before the purchase and can not be retroactively included).</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">A seller who did not deliver the requested files or services, and the buyer did not request revisions in time due to a lack of communication from the seller.</span></li>
                    </ul>
                    <p><strong><strong>&nbsp;</strong></strong></p>
                    <p><strong>Revisions Requested</strong><span style="font-weight: 400;"> (a buyer who requests revisions from the seller)</span></p>
                    <ul>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">A buyer requested revisions and the seller did not respond.</span></li>
                    </ul>
                    <p><span style="font-weight: 400;">Each case is reviewed carefully by our Customer Support team to assess the most appropriate action. Additionally, we can cancel orders that were made by mistake but will always check if the order is tied to an ongoing service to protect our sellers. &nbsp;</span></p>
                    <p><strong>What happens after an order is cancelled?</strong></p>
                    <p><span style="font-weight: 400;">If an order is cancelled (for any reason), the funds paid will be refunded to the buyer&rsquo;s shopping balance. If your Service was purchased with cleared revenue, the funds will return to your revenue balance. Your total account balance (revenue + shopping) can be found next to your username on the top menu in the right corner.</span></p>
                    <p><span style="font-weight: 400;">Additionally, when an order is cancelled, buyers no longer retain the rights to use any of the services or the items delivered to them. All transfer and assignment of intellectual property to the buyer shall be subject to full payment for the Service and the delivery may not be used if payment is cancelled for any reason. &nbsp;</span></p>
                    <p><strong>What happens if a dispute is opened and now the order is cancelled?</strong></p>
                    <p><span style="font-weight: 400;">If a chargeback was made on a purchase or is subject to review by a payment vendor - Zolo will cancel the order automatically. Whenever a transaction is being reviewed by a payment vendor, we may be required to cancel a transaction completely or put it on hold for your own protection (for example - stolen credit card, other fraud activities, etc.). This is part of the service we provide to maintain a safe environment for our users.</span></p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
