<ion-modal-view>
    <ion-header-bar>
        <div class="row">
            <div class="col-75 text-left text-c f-18 w-800" ng-click="book_now_confirm()">Customize your order</div>
            <div class="col-25 text-right" ng-click="closeAddon()">
                <i  class=" black-c ion-close-round f-20 l-h-25" aria-hidden="true"></i>
            </div>
        </div>
    </ion-header-bar>
    <ion-content class="bg-c">
        <div class="m-b-20 p-b-30">
            <p class="f-16 w-600 p-l-15 m-t-10">YOUR PACKAGE</p>
            <div class="card m-5">
                <ion-checkbox ng-model="booking_package">{{package.name| capitalizeFirst}}</ion-checkbox>
                <div class="row">
                    <div class="col-50 pull-left" ng-init="a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">
                        <select class="p-10 f-16" id="Quantity" ng-model="book.quantity" placeholder="Select Quantity">
                            <option value="" disabled selected>Quantity</option>
                            <option ng-repeat="n in a" value='{{n}}'>{{n}}</option>
                        </select>
                    </div>
                    <div class="col-50 ">
                        <p class="pull-right p-20 f-16">{{book.quantity * package.deal_price | currency:"&#8377;":0}}</p>
                    </div>
                </div>
            </div>
            <p class="f-16 w-600 p-l-15" ng-if="package.Addons.data.length>0">ADD ONS</p>
            <div>
                <div ng-repeat="addon in package.Addons.data">
                    <div class="card m-5">
                        <ion-checkbox checklist-model="selectedaddons[$index].id;" checklist-value="addon.id" ng-change="setIndex($index,checked)">{{addon.name| capitalizeFirst}}</ion-checkbox>
                                <div class="row">
                                    <div class="col-50" ng-init="a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">
                                        <select class="p-10 f-16" id="Addon_Quantity" ng-model="selectedaddons[$index].quantity" placeholder="Select Quantity" ng-change="setIndex($index)">
                                            <option value="" disabled selected>Quantity</option>
                                            <option ng-repeat="n in a" value='{{n}}'>{{n}}</option>
                                        </select>
                                    </div>
                                    <div class="col-50">
                                            <p class="pull-right p-20 f-16">{{addon.amount| currency:"&#8377;":0}} </p>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
