<style>

    .title-left{
        text-align: center!important;
    }
</style>

<ion-view title="DESCRIPTION">

    <ion-nav-bar class="header_color">

        <button class="button back-button buttons button-clear header-item back-button-custom"  ng-click="back_to_pdp()"  tabindex="0" style="margin-left: -15px; color: #fff!important; ">
            <i class="icon ion-ios-arrow-back" role="button" tabindex="0"></i>
            <span class="back-text"></span></button>
    </ion-nav-bar>
    <ion-content class="bg-c">
        <div class="card m-5">
            <p class="p-10 text-justify" ng-bind-html="package.description"></p>
        </div>

    </ion-content>
</ion-view>
