<ion-view title="Payment Success">
    <ion-content>
        <div class="card p-20 m-5">


            <p class=" f-20">Payment Success&nbsp; <i class="ion-checkmark-round text-success"></i></p>



            <!--<div class="row">-->
                <!--<div class="col-50">-->
                    <!--<p>Order # <b>{{order_detail.id}}</b></p>-->
                <!--</div>-->
                <!--<div class="col-50">-->
                    <!--<p class="pull-right">By:<b> {{order_detail.seller_profile.name}}</b></p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<hr>-->

            <!--<div class="row">-->
                <!--<p class="w-500 f-18">{{order_detail.package_title| capitalizeFirst}}</p>-->
            <!--</div>-->

            <!--<div class="row">-->
                <!--<div class="col-40">-->
                    <!--<img ng-src="{{order_detail.first_photo}}" ng-show="order_detail.first_photo!=null" width="400">-->
                    <!--<img src=" ../img/default.png" ng-show="order_detail.first_photo==null" width="400">-->
                <!--</div>-->
                <!--<div class="col-60">-->
                    <!--<p>Package Name<b>{{order_detail.package_title| capitalizeFirst}}</b></p>-->
                    <!--<br>-->
                    <!--<p>Quantity<b>{{order_detail.quantity}}</b></p>-->

                <!--</div>-->
            <!--</div>-->

            <!--<div class="row m-t-10">-->
                <!--<div class="col-50">-->
                    <!--<p class="text-c">Amount </p>-->
                    <!--<p class="text-c">Order Status </p>-->
                    <!--<p class="text-c">Order Date</p>-->
                <!--</div>-->

                <!--<div class="col-50">-->
                    <!--<p> : {{total_price| currency:"&#8377;":0}}</p>-->
                    <!--<p> : {{order_detail.booking_status.replace('_',' ')}}</p>-->
                    <!--<p> : {{order_detail.order_date}}</p>-->
                <!--</div>-->
            <!--</div>-->
        </div>

        <div class="text-center m-t-10" ng-click="order_detail(order_detail_id)">
            <a href="" class="back-t-z" >
                Click here to see order Details
            </a>
        </div>


    </ion-content>
</ion-view>

