<style>
    .nav-bar-title{
        margin-left: 30px;
    }
    .platform-android .bar .title{
        margin-left: 30px;
    }
</style>
<ion-view title="ADD ADDRESS">
    <ion-nav-bar class="header_color">
        <button class="button back-button buttons button-clear header-item back-button-custom" ng-click="back_to_address()"  tabindex="0" style="margin-left: -15px; color: #fff!important;">
            <i class="icon ion-ios-arrow-back" role="button" tabindex="0"></i>
            <span class="back-text"></span></button>
    </ion-nav-bar>
    <ion-content class="bg-c">
        <div class="list card m-5">
            <form>
                <label class="item item-input">
                    <input type="text" placeholder="Name" ng-model="user.name">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Address" ng-model="user.address">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Landmark" ng-model="user.landmark">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="City" ng-model="user.city">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="State" ng-model="user.state">
                </label>
                <label class="item item-input">
                    <input type="tel" placeholder="Pincode" ng-model="user.pincode">
                </label>
                <label class="item item-input">
                    <input type="number" placeholder="Mobile Number" ng-model="user.mobile">
                </label>
                <ion-checkbox ng-model="user.default">Make this Default Address</ion-checkbox>

            </form>
        </div>
        <div class="row">
            <div class="col-50">
                <div class=" pull-left button button-balanced p-0-40" ng-click="save_address()">
                    SAVE
                </div>

            </div>

            <div class="col-50">
                <div class="pull-right button button-energized p-0-40" ng-click="skip()">
                    SKIP>>
                </div>
            </div>
        </div>


    </ion-content>
</ion-view>
